# --- Configurações de Interface ---
set tabsize 4
set tabstospaces
set autoindent
set trimblanks
set linenumbers
set constantshow
set mouse

# --- Configurações de Cores ---
set titlecolor white,red
set keycolor cyan
set functioncolor cyan
set numbercolor yellow

# --- Syntax Highlighting (Cores para Código) ---
# No Apple Silicon (M1/M3), o Homebrew instala as sintaxes aqui:
include "/opt/homebrew/share/nano/*.nanorc"

# As linhas /usr/local e /usr/share foram removidas pois causavam erro no seu Mac.